# Automatic glucose measurement (Register level 0)

In [3]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np

raw_data = pd.read_csv("sample.txt", header=0, skiprows=1, delimiter="\t", index_col=0, usecols=list(range(0, 9)),
                       parse_dates=["Hora"], date_parser=lambda x: pd.to_datetime(x, format="%Y/%m/%d %H:%M"))
auto_gluc = raw_data[raw_data[raw_data.columns[1]] == 0].drop(raw_data.columns[[1, 3, 4, 5, 6, 7]], axis=1)
day = datetime.datetime(2016, 4, 1)
auto_gluc[auto_gluc["Hora"].dt.date == day.date()]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hora</th>
      <th>Hist√≥rico glucosa (mg/dL)</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>37240</th>
      <td>2016-04-01 00:01:00</td>
      <td>82.0</td>
    </tr>
    <tr>
      <th>37241</th>
      <td>2016-04-01 00:16:00</td>
      <td>84.0</td>
    </tr>
    <tr>
      <th>37242</th>
      <td>2016-04-01 00:31:00</td>
      <td>95.0</td>
    </tr>
    <tr>
      <th>37243</th>
      <td>2016-04-01 00:46:00</td>
      <td>96.0</td>
    </tr>
    <tr>
      <th>37244</th>
      <td>2016-04-01 01:01:00</td>
      <td>96.0</td>
    </tr>
    <tr>
      <th>37262</th>
      <td>2016-04-01 01:18:00</td>
      <td>113.0</td>
    </tr>
    <tr>
      <th>37263</th>
      <td>2016-04-01 01:33:00</td>
      <td>141.0</td>
    </tr>
    <tr>
      <th>37264</th>
      <td>2016-04-01 01:48:00</td>
      <td>156.0</td>
    </tr>
    <tr>
      <th>37265</th>
      <td>2016-04-01 02:03:00</td>
      <td>148.0</td>
    </tr>
    <tr>
      <th>37266</th>
      <td>2016-04-01 02:18:00</td>
      <td>156.0</td>
    </tr>
    <tr>
      <th>37267</th>
      <td>2016-04-01 02:33:00</td>
      <td>187.0</td>
    </tr>
    <tr>
      <th>37268</th>
      <td>2016-04-01 02:48:00</td>
      <td>212.0</td>
    </tr>
    <tr>
      <th>37269</th>
      <td>2016-04-01 03:03:00</td>
      <td>201.0</td>
    </tr>
    <tr>
      <th>37270</th>
      <td>2016-04-01 03:18:00</td>
      <td>193.0</td>
    </tr>
    <tr>
      <th>37271</th>
      <td>2016-04-01 03:33:00</td>
      <td>214.0</td>
    </tr>
    <tr>
      <th>37272</th>
      <td>2016-04-01 03:48:00</td>
      <td>224.0</td>
    </tr>
    <tr>
      <th>37273</th>
      <td>2016-04-01 04:03:00</td>
      <td>224.0</td>
    </tr>
    <tr>
      <th>37274</th>
      <td>2016-04-01 04:18:00</td>
      <td>219.0</td>
    </tr>
    <tr>
      <th>37275</th>
      <td>2016-04-01 04:33:00</td>
      <td>213.0</td>
    </tr>
    <tr>
      <th>37276</th>
      <td>2016-04-01 04:48:00</td>
      <td>205.0</td>
    </tr>
    <tr>
      <th>37277</th>
      <td>2016-04-01 05:03:00</td>
      <td>193.0</td>
    </tr>
    <tr>
      <th>37278</th>
      <td>2016-04-01 05:18:00</td>
      <td>188.0</td>
    </tr>
    <tr>
      <th>37279</th>
      <td>2016-04-01 05:33:00</td>
      <td>193.0</td>
    </tr>
    <tr>
      <th>37280</th>
      <td>2016-04-01 05:48:00</td>
      <td>197.0</td>
    </tr>
    <tr>
      <th>37298</th>
      <td>2016-04-01 06:05:00</td>
      <td>177.0</td>
    </tr>
    <tr>
      <th>37299</th>
      <td>2016-04-01 06:20:00</td>
      <td>171.0</td>
    </tr>
    <tr>
      <th>37300</th>
      <td>2016-04-01 06:35:00</td>
      <td>169.0</td>
    </tr>
    <tr>
      <th>37301</th>
      <td>2016-04-01 06:50:00</td>
      <td>166.0</td>
    </tr>
    <tr>
      <th>37302</th>
      <td>2016-04-01 07:05:00</td>
      <td>160.0</td>
    </tr>
    <tr>
      <th>37303</th>
      <td>2016-04-01 07:20:00</td>
      <td>144.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>38089</th>
      <td>2016-04-01 16:39:00</td>
      <td>127.0</td>
    </tr>
    <tr>
      <th>38090</th>
      <td>2016-04-01 16:54:00</td>
      <td>141.0</td>
    </tr>
    <tr>
      <th>38091</th>
      <td>2016-04-01 17:09:00</td>
      <td>153.0</td>
    </tr>
    <tr>
      <th>38248</th>
      <td>2016-04-01 17:23:00</td>
      <td>153.0</td>
    </tr>
    <tr>
      <th>38249</th>
      <td>2016-04-01 17:38:00</td>
      <td>149.0</td>
    </tr>
    <tr>
      <th>38331</th>
      <td>2016-04-01 17:55:00</td>
      <td>148.0</td>
    </tr>
    <tr>
      <th>38332</th>
      <td>2016-04-01 18:10:00</td>
      <td>144.0</td>
    </tr>
    <tr>
      <th>38333</th>
      <td>2016-04-01 18:25:00</td>
      <td>152.0</td>
    </tr>
    <tr>
      <th>38334</th>
      <td>2016-04-01 18:40:00</td>
      <td>166.0</td>
    </tr>
    <tr>
      <th>38335</th>
      <td>2016-04-01 18:55:00</td>
      <td>169.0</td>
    </tr>
    <tr>
      <th>38336</th>
      <td>2016-04-01 19:10:00</td>
      <td>162.0</td>
    </tr>
    <tr>
      <th>38337</th>
      <td>2016-04-01 19:25:00</td>
      <td>146.0</td>
    </tr>
    <tr>
      <th>38338</th>
      <td>2016-04-01 19:40:00</td>
      <td>126.0</td>
    </tr>
    <tr>
      <th>38356</th>
      <td>2016-04-01 19:55:00</td>
      <td>115.0</td>
    </tr>
    <tr>
      <th>38357</th>
      <td>2016-04-01 20:10:00</td>
      <td>105.0</td>
    </tr>
    <tr>
      <th>38358</th>
      <td>2016-04-01 20:25:00</td>
      <td>100.0</td>
    </tr>
    <tr>
      <th>38359</th>
      <td>2016-04-01 20:40:00</td>
      <td>92.0</td>
    </tr>
    <tr>
      <th>38400</th>
      <td>2016-04-01 20:56:00</td>
      <td>78.0</td>
    </tr>
    <tr>
      <th>38401</th>
      <td>2016-04-01 21:11:00</td>
      <td>66.0</td>
    </tr>
    <tr>
      <th>38402</th>
      <td>2016-04-01 21:26:00</td>
      <td>57.0</td>
    </tr>
    <tr>
      <th>38403</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>38404</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>38527</th>
      <td>2016-04-01 22:11:00</td>
      <td>52.0</td>
    </tr>
    <tr>
      <th>38528</th>
      <td>2016-04-01 22:26:00</td>
      <td>73.0</td>
    </tr>
    <tr>
      <th>38529</th>
      <td>2016-04-01 22:41:00</td>
      <td>131.0</td>
    </tr>
    <tr>
      <th>38530</th>
      <td>2016-04-01 22:56:00</td>
      <td>160.0</td>
    </tr>
    <tr>
      <th>38548</th>
      <td>2016-04-01 23:11:00</td>
      <td>161.0</td>
    </tr>
    <tr>
      <th>38549</th>
      <td>2016-04-01 23:26:00</td>
      <td>147.0</td>
    </tr>
    <tr>
      <th>38550</th>
      <td>2016-04-01 23:41:00</td>
      <td>122.0</td>
    </tr>
    <tr>
      <th>38551</th>
      <td>2016-04-01 23:56:00</td>
      <td>101.0</td>
    </tr>
  </tbody>
</table>
<p>96 rows √ó 2 columns</p>
</div>

In [4]:
filtered_auto_gluc = auto_gluc[auto_gluc["Hora"].dt.date == day.date()]
filtered_auto_gluc.plot(x="Hora", y="Hist√≥rico glucosa (mg/dL)", grid=True, title= "Niveles de glucosa. D√≠a 01/04/2016",
                        legend=True, colormap="autumn")

##Smoothing plots

In [5]:
interval_min = 1
filtered_auto_gluc_smoothed = pd.DataFrame((day + datetime.timedelta(minutes=x * interval_min)
                                            for x in range(0, int(24 * 60 / interval_min))),
                                           columns=["Hora"])

filtered_auto_gluc_smoothed = pd.merge(filtered_auto_gluc_smoothed, filtered_auto_gluc,
                                       how='left', on="Hora")
filtered_auto_gluc_smoothed["Hist√≥rico glucosa (mg/dL)"] \
    = filtered_auto_gluc_smoothed["Hist√≥rico glucosa (mg/dL)"].interpolate(method='cubic')
filtered_auto_gluc_smoothed.plot(x="Hora", y="Hist√≥rico glucosa (mg/dL)", grid=True,
                                 title="Niveles de glucosa. D√≠a 01/04/2016. Cubic-spline interpolation",
                                 legend=True, colormap="autumn")

# Creating 4-hour blocks using carbohydrates (register type 5)

In [6]:
time_interval = 4
carbo_data = raw_data[raw_data[raw_data.columns[1]] == 5].drop(raw_data.columns[[1, 2, 3, 4, 5]], axis=1)
carbo_datetimes = carbo_data.drop(raw_data.columns[[6, 7]], axis=1)
dates = carbo_datetimes ["Hora"].dt.date.unique()
for date in dates:
    print(date.strftime("%Y-%m-%d"))

2016-03-31
2016-04-01
2016-04-02
2016-04-03
2016-04-04
2016-04-05
2016-04-06
2016-04-07
2016-04-08
2016-04-09
2016-04-10
2016-04-11
2016-04-12
2016-04-13

In [7]:
#Block 0 corresponds to all registers that belongs to no block
auto_gluc.loc[:,"Block"] = 0
for date_i in  dates:
    carbo_day = carbo_datetimes [carbo_data["Hora"].dt.date == date_i]
    block_idx = 1
    for mid_block in carbo_day["Hora"]:
        block_time_window = pd.Series((mid_block - datetime.timedelta(hours=int(time_interval/2))
                                       + datetime.timedelta(minutes=x * interval_min) 
                                       for x in range(0, int(time_interval*60))))
        auto_gluc.loc[auto_gluc["Hora"].isin(block_time_window), "Block"] = block_idx
        block_idx += 1
auto_gluc_sample = auto_gluc[auto_gluc["Hora"].dt.date == day.date()]
print(auto_gluc_sample)

                     Hora  Hist√≥rico glucosa (mg/dL)  Block
ID
37240 2016-04-01 00:01:00                       82.0      0
37241 2016-04-01 00:16:00                       84.0      0
37242 2016-04-01 00:31:00                       95.0      0
37243 2016-04-01 00:46:00                       96.0      0
37244 2016-04-01 01:01:00                       96.0      0
37262 2016-04-01 01:18:00                      113.0      0
37263 2016-04-01 01:33:00                      141.0      0
37264 2016-04-01 01:48:00                      156.0      0
37265 2016-04-01 02:03:00                      148.0      0
37266 2016-04-01 02:18:00                      156.0      0
37267 2016-04-01 02:33:00                      187.0      0
37268 2016-04-01 02:48:00                      212.0      0
37269 2016-04-01 03:03:00                      201.0      0
37270 2016-04-01 03:18:00                      193.0      0
37271 2016-04-01 03:33:00                      214.0      0
37272 2016-04-01 03:48:00                      224.0      0
37273 2016-04-01 04:03:00                      224.0      0
37274 2016-04-01 04:18:00                      219.0      0
37275 2016-04-01 04:33:00                      213.0      0
37276 2016-04-01 04:48:00                      205.0      0
37277 2016-04-01 05:03:00                      193.0      0
37278 2016-04-01 05:18:00                      188.0      0
37279 2016-04-01 05:33:00                      193.0      0
37280 2016-04-01 05:48:00                      197.0      0
37298 2016-04-01 06:05:00                      177.0      0
37299 2016-04-01 06:20:00                      171.0      0
37300 2016-04-01 06:35:00                      169.0      0
37301 2016-04-01 06:50:00                      166.0      1
37302 2016-04-01 07:05:00                      160.0      1
37303 2016-04-01 07:20:00                      144.0      1
...                   ...                        ...    ...
38089 2016-04-01 16:39:00                      127.0      4
38090 2016-04-01 16:54:00                      141.0      4
38091 2016-04-01 17:09:00                      153.0      4
38248 2016-04-01 17:23:00                      153.0      4
38249 2016-04-01 17:38:00                      149.0      4
38331 2016-04-01 17:55:00                      148.0      4
38332 2016-04-01 18:10:00                      144.0      4
38333 2016-04-01 18:25:00                      152.0      4
38334 2016-04-01 18:40:00                      166.0      4
38335 2016-04-01 18:55:00                      169.0      4
38336 2016-04-01 19:10:00                      162.0      5
38337 2016-04-01 19:25:00                      146.0      5
38338 2016-04-01 19:40:00                      126.0      5
38356 2016-04-01 19:55:00                      115.0      5
38357 2016-04-01 20:10:00                      105.0      5
38358 2016-04-01 20:25:00                      100.0      6
38359 2016-04-01 20:40:00                       92.0      6
38400 2016-04-01 20:56:00                       78.0      6
38401 2016-04-01 21:11:00                       66.0      6
38402 2016-04-01 21:26:00                       57.0      6
38403 2016-04-01 21:41:00                       53.0      6
38404 2016-04-01 21:56:00                       53.0      6
38527 2016-04-01 22:11:00                       52.0      6
38528 2016-04-01 22:26:00                       73.0      6
38529 2016-04-01 22:41:00                      131.0      6
38530 2016-04-01 22:56:00                      160.0      6
38548 2016-04-01 23:11:00                      161.0      6
38549 2016-04-01 23:26:00                      147.0      6
38550 2016-04-01 23:41:00                      122.0      6
38551 2016-04-01 23:56:00                      101.0      6

[96 rows x 3 columns]

In [8]:
carbo_data[carbo_data["Hora"].dt.date == day.date()]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hora</th>
      <th>Alimentos sin valor num√©rico</th>
      <th>Carbohidratos (raciones)</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>37308</th>
      <td>2016-04-01 08:38:00</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>37587</th>
      <td>2016-04-01 11:21:00</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>37902</th>
      <td>2016-04-01 15:13:00</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38250</th>
      <td>2016-04-01 17:59:00</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38360</th>
      <td>2016-04-01 20:57:00</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38405</th>
      <td>2016-04-01 22:11:00</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
fig, ax = plt.subplots()
labels = []
for key, grp in auto_gluc_sample.groupby(['Block']):
    ax = grp.plot(ax=ax, kind='line', x="Hora", y="Hist√≥rico glucosa (mg/dL)")
    labels.append("Block " + str(key))
lines, _ = ax.get_legend_handles_labels()
ax.legend(lines, labels)
plt.show()

## 6-hour blocks (2h + 4h) + overlapping blocks

In [10]:
pre_time_interval = 2
post_time_interval = 4
auto_gluc_blocks = raw_data[raw_data[raw_data.columns[1]] == 0].drop(raw_data.columns[[1, 3, 4, 5, 6, 7]], axis=1)

auto_gluc_blocks.loc[:, "Block"] = 0
auto_gluc_blocks.loc[:, "Day_Block"] = np.nan
auto_gluc_blocks.loc[:, "Overlapped_Block"] = False
for date_i in dates:
    carbo_day = carbo_datetimes[carbo_data["Hora"].dt.date == date_i]
    block_idx = 1
    for mid_block in carbo_day["Hora"]:
        block_time_window = pd.Series((mid_block - datetime.timedelta(hours=int(pre_time_interval))
                                       + datetime.timedelta(minutes=x * interval_min)
                                       for x in range(0, int((pre_time_interval + post_time_interval) * 60))))
        # Define block if empty
        auto_gluc_blocks.loc[
            (auto_gluc_blocks["Hora"].isin(block_time_window)) & (auto_gluc_blocks["Block"] == 0), ["Block",
                                                                                                    "Day_Block"]] \
            = [block_idx, mid_block.date()]

        # Overlapped blocks
        auto_gluc_blocks.loc[(auto_gluc_blocks["Hora"].isin(block_time_window)) & (auto_gluc_blocks["Block"] != 0)
                             & (auto_gluc_blocks["Block"] != block_idx) & (
                                 auto_gluc_blocks["Day_Block"] == mid_block.date()), "Overlapped_Block"] = True
        overlapped = auto_gluc_blocks[
            (auto_gluc_blocks["Hora"].isin(block_time_window)) & (auto_gluc_blocks["Block"] != 0)
            & (auto_gluc_blocks["Block"] != block_idx) & (auto_gluc_blocks["Day_Block"] == mid_block.date())]
        overlapped["Block"] = block_idx
        auto_gluc_blocks = auto_gluc_blocks.append(overlapped, ignore_index=True)
        block_idx += 1
# Update Day_Block with block = 0
auto_gluc_blocks.loc[auto_gluc_blocks["Day_Block"].isnull(), "Day_Block"] = \
    auto_gluc_blocks["Hora"].dt.date

auto_gluc_blocks.sort_values(by=["Hora", "Block"], inplace=True)
auto_gluc_blocks_sample = auto_gluc_blocks[(auto_gluc_blocks["Day_Block"] == day.date())]
auto_gluc_blocks_sample

/home/franxi/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hora</th>
      <th>Hist√≥rico glucosa (mg/dL)</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Overlapped_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>39</th>
      <td>2016-04-01 01:33:00</td>
      <td>141.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2016-04-01 01:48:00</td>
      <td>156.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2016-04-01 02:03:00</td>
      <td>148.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2016-04-01 02:18:00</td>
      <td>156.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2016-04-01 02:33:00</td>
      <td>187.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2016-04-01 02:48:00</td>
      <td>212.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2016-04-01 03:03:00</td>
      <td>201.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2016-04-01 03:18:00</td>
      <td>193.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2016-04-01 03:33:00</td>
      <td>214.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2016-04-01 03:48:00</td>
      <td>224.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2016-04-01 04:03:00</td>
      <td>224.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2016-04-01 04:18:00</td>
      <td>219.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2016-04-01 04:33:00</td>
      <td>213.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2016-04-01 04:48:00</td>
      <td>205.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2016-04-01 05:03:00</td>
      <td>193.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2016-04-01 05:18:00</td>
      <td>188.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2016-04-01 05:33:00</td>
      <td>193.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2016-04-01 05:48:00</td>
      <td>197.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2016-04-01 06:05:00</td>
      <td>177.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2016-04-01 06:20:00</td>
      <td>171.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2016-04-01 06:35:00</td>
      <td>169.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2016-04-01 06:50:00</td>
      <td>166.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2016-04-01 07:05:00</td>
      <td>160.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2016-04-01 07:20:00</td>
      <td>144.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>63</th>
      <td>2016-04-01 07:35:00</td>
      <td>131.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>64</th>
      <td>2016-04-01 07:50:00</td>
      <td>131.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>65</th>
      <td>2016-04-01 08:05:00</td>
      <td>131.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>66</th>
      <td>2016-04-01 08:20:00</td>
      <td>128.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>67</th>
      <td>2016-04-01 08:36:00</td>
      <td>123.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2016-04-01 08:51:00</td>
      <td>106.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1350</th>
      <td>2016-04-01 21:26:00</td>
      <td>57.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>119</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>4</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1328</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1336</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1351</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>120</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>4</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1329</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1337</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1352</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>121</th>
      <td>2016-04-01 22:11:00</td>
      <td>52.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1338</th>
      <td>2016-04-01 22:11:00</td>
      <td>52.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>122</th>
      <td>2016-04-01 22:26:00</td>
      <td>73.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1339</th>
      <td>2016-04-01 22:26:00</td>
      <td>73.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>123</th>
      <td>2016-04-01 22:41:00</td>
      <td>131.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1340</th>
      <td>2016-04-01 22:41:00</td>
      <td>131.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>124</th>
      <td>2016-04-01 22:56:00</td>
      <td>160.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1341</th>
      <td>2016-04-01 22:56:00</td>
      <td>160.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>125</th>
      <td>2016-04-01 23:11:00</td>
      <td>161.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1342</th>
      <td>2016-04-01 23:11:00</td>
      <td>161.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>126</th>
      <td>2016-04-01 23:26:00</td>
      <td>147.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1343</th>
      <td>2016-04-01 23:26:00</td>
      <td>147.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>127</th>
      <td>2016-04-01 23:41:00</td>
      <td>122.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1344</th>
      <td>2016-04-01 23:41:00</td>
      <td>122.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>128</th>
      <td>2016-04-01 23:56:00</td>
      <td>101.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1345</th>
      <td>2016-04-01 23:56:00</td>
      <td>101.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>129</th>
      <td>2016-04-02 01:00:00</td>
      <td>80.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>130</th>
      <td>2016-04-02 01:15:00</td>
      <td>83.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>131</th>
      <td>2016-04-02 01:30:00</td>
      <td>81.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>132</th>
      <td>2016-04-02 01:45:00</td>
      <td>76.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>133</th>
      <td>2016-04-02 02:00:00</td>
      <td>68.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
<p>165 rows √ó 5 columns</p>
</div>

In [11]:
fig, ax = plt.subplots()
labels = []
for key, grp in auto_gluc_blocks_sample.groupby(['Block']):
    ax = grp.plot(ax=ax, kind='line', x="Hora", y="Hist√≥rico glucosa (mg/dL)")
    labels.append("Block " + str(key))
lines, _ = ax.get_legend_handles_labels()
ax.legend(lines, labels)
plt.show()

## Smoothing plots

In [12]:
interval_min = 1
min_time = auto_gluc_blocks_sample["Hora"].min()
max_time = auto_gluc_blocks_sample["Hora"].max()
difference = (max_time - min_time + datetime.timedelta(minutes=1))
min_diff = (difference.days * 24 * 60) + (difference.seconds//60) % 60
auto_gluc_blocks_sample_smoothed = pd.DataFrame((min_time + datetime.timedelta(minutes=x * interval_min)
                                                 for x in range(0, int((min_diff / interval_min)))),
                                                columns=["Hora"])
auto_gluc_blocks_sample_smoothed = pd.merge(auto_gluc_blocks_sample_smoothed, auto_gluc_blocks_sample,
                                            how='left', on="Hora")
auto_gluc_blocks_sample_smoothed["Hist√≥rico glucosa (mg/dL)"] \
    = auto_gluc_blocks_sample_smoothed["Hist√≥rico glucosa (mg/dL)"]\
    .interpolate(method='cubic')

# Propagate Block and Day_Block data
auto_gluc_blocks_sample_smoothed.fillna(method='pad', inplace=True, downcast='infer')

auto_gluc_blocks_sample_smoothed

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hora</th>
      <th>Hist√≥rico glucosa (mg/dL)</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Overlapped_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-04-01 01:33:00</td>
      <td>141.000000</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-04-01 01:34:00</td>
      <td>143.706907</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-04-01 01:35:00</td>
      <td>146.103921</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-04-01 01:36:00</td>
      <td>148.206285</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-04-01 01:37:00</td>
      <td>150.029240</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016-04-01 01:38:00</td>
      <td>151.588029</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2016-04-01 01:39:00</td>
      <td>152.897894</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016-04-01 01:40:00</td>
      <td>153.974076</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016-04-01 01:41:00</td>
      <td>154.831818</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016-04-01 01:42:00</td>
      <td>155.486361</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016-04-01 01:43:00</td>
      <td>155.952947</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2016-04-01 01:44:00</td>
      <td>156.246819</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016-04-01 01:45:00</td>
      <td>156.383218</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2016-04-01 01:46:00</td>
      <td>156.377387</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2016-04-01 01:47:00</td>
      <td>156.244567</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2016-04-01 01:48:00</td>
      <td>156.000000</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2016-04-01 01:49:00</td>
      <td>155.658547</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2016-04-01 01:50:00</td>
      <td>155.233545</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2016-04-01 01:51:00</td>
      <td>154.737948</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2016-04-01 01:52:00</td>
      <td>154.184711</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2016-04-01 01:53:00</td>
      <td>153.586789</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2016-04-01 01:54:00</td>
      <td>152.957137</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2016-04-01 01:55:00</td>
      <td>152.308711</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2016-04-01 01:56:00</td>
      <td>151.654464</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2016-04-01 01:57:00</td>
      <td>151.007353</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2016-04-01 01:58:00</td>
      <td>150.380332</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2016-04-01 01:59:00</td>
      <td>149.786355</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2016-04-01 02:00:00</td>
      <td>149.238379</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2016-04-01 02:01:00</td>
      <td>148.749358</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2016-04-01 02:02:00</td>
      <td>148.332246</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1508</th>
      <td>2016-04-02 01:31:00</td>
      <td>80.685295</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1509</th>
      <td>2016-04-02 01:32:00</td>
      <td>80.357787</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1510</th>
      <td>2016-04-02 01:33:00</td>
      <td>80.019815</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1511</th>
      <td>2016-04-02 01:34:00</td>
      <td>79.673721</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1512</th>
      <td>2016-04-02 01:35:00</td>
      <td>79.321845</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1513</th>
      <td>2016-04-02 01:36:00</td>
      <td>78.966527</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1514</th>
      <td>2016-04-02 01:37:00</td>
      <td>78.610108</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1515</th>
      <td>2016-04-02 01:38:00</td>
      <td>78.254929</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1516</th>
      <td>2016-04-02 01:39:00</td>
      <td>77.903330</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1517</th>
      <td>2016-04-02 01:40:00</td>
      <td>77.557653</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1518</th>
      <td>2016-04-02 01:41:00</td>
      <td>77.220237</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1519</th>
      <td>2016-04-02 01:42:00</td>
      <td>76.893423</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1520</th>
      <td>2016-04-02 01:43:00</td>
      <td>76.579552</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1521</th>
      <td>2016-04-02 01:44:00</td>
      <td>76.280964</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1522</th>
      <td>2016-04-02 01:45:00</td>
      <td>76.000000</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1523</th>
      <td>2016-04-02 01:46:00</td>
      <td>75.736781</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1524</th>
      <td>2016-04-02 01:47:00</td>
      <td>75.482548</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1525</th>
      <td>2016-04-02 01:48:00</td>
      <td>75.226322</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1526</th>
      <td>2016-04-02 01:49:00</td>
      <td>74.957125</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1527</th>
      <td>2016-04-02 01:50:00</td>
      <td>74.663979</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1528</th>
      <td>2016-04-02 01:51:00</td>
      <td>74.335904</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1529</th>
      <td>2016-04-02 01:52:00</td>
      <td>73.961923</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1530</th>
      <td>2016-04-02 01:53:00</td>
      <td>73.531056</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1531</th>
      <td>2016-04-02 01:54:00</td>
      <td>73.032325</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1532</th>
      <td>2016-04-02 01:55:00</td>
      <td>72.454752</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1533</th>
      <td>2016-04-02 01:56:00</td>
      <td>71.787358</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1534</th>
      <td>2016-04-02 01:57:00</td>
      <td>71.019164</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1535</th>
      <td>2016-04-02 01:58:00</td>
      <td>70.139192</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1536</th>
      <td>2016-04-02 01:59:00</td>
      <td>69.136464</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1537</th>
      <td>2016-04-02 02:00:00</td>
      <td>68.000000</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
<p>1538 rows √ó 5 columns</p>
</div>

In [13]:
fig, ax = plt.subplots()
labels = []
for key, grp in auto_gluc_sample.groupby(['Block']):
    ax = grp.plot(ax=ax, kind='line', x="Hora", y="Hist√≥rico glucosa (mg/dL)")
    labels.append("Block " + str(key))
lines, _ = ax.get_legend_handles_labels()
ax.legend(lines, labels)
plt.show()